---
layout: default
---

{% assign post = page %}

{% if post.category %}
	{% for site_category in site.data.categories %}
		{% if site_category.slug == post.category %}
			{% assign category = site_category %}
		{% endif %}
	{% endfor %}
	{% if category %}
		{% capture category_content %} in <a href="/blog/category/{{ category.slug }}/">{{ category.name }}</a>{% endcapture %}
	{% endif %}
{% else %}
	{% assign category_content = '' %}
{% endif %}

{% if post.tags.size > 0 %}
    {% capture tags_content %} {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
		{% assign tag = site.data.tags[post_tag] %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ post_tag }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<div class="post-container">
	<article class="post">

	  {% if category_content != '' or tags_content != '' %}
	  <p id="post-meta">Posted {{ category_content }} with {{ tags_content }}</p>
	  {% endif %}
	  
	  <h2>{{ page.title }}</h2>

	  <div class="entry">
		{{ content }}
	  </div>

	  <div class="date">
		Written on {{ page.date | date: "%B %e, %Y" }}
	  </div>

	  {% include disqus.html %}
	</article>
</div>
<div class="right-side">
	<div>
		<h2>Tags</h2>
		<div id="tags">
			<a href="/blog/tag/nosql/" class="nosql">NoSQL</a>
			<br/>
			<a href="/blog/tag/ef/" class="ef">Entity Framework</a>
			<br/>
			<a href="/blog/tag/wcf/" class="studying">WCF</a>
			<br/>
			<a href="/blog/tag/cloud/" class="cloud">Cloud Platforms</a>
			<br/>
			<a href="/blog/tag/aspnetmvc/" class="aspnetmvc">ASP.NET MVC</a>
			<br/>
			<a href="/blog/tag/studying/" class="studying">Proof of concepts</a>
		</div>
	</div>
	<div>
		<!--
		<script type="text/javascript">
			google_ad_client = "ca-pub-7905487635678357";
			google_ad_slot = "4032707426";
			google_ad_width = 300;
			google_ad_height = 600;
		</script>
		-->
		<!-- Right side ad on the Home page -->
		<!--
		<script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>
		-->
	</div>
</div>
